# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
/media/
staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# VSCode
.vscode/

# Docker
*.log
*.pid
db_data/           # (docker-compose에서 볼륨으로 지정했다면 제외)

# Env
.env